 <!-------------------------------------contact-------------------------------------------->    
            
        
 <section class="contact">                 
        <div class="content">
            <h2>Contact Us</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus eius corrupti nam blanditiis expedita, aperiam, modi quas adipisci nemo illum natus voluptates voluptate earum dolores?</p>
        </div>
        <div class="container">
            <div class="contact-info">
                <div class="box">
                    <div class="icon"><i class="fa fa-map-marker"></i></div>
                    <div class="text">
                        <h3>Address</h3>
                        <p>71 Avenue,<br> Brooklin, E1A G6,<br> US</p>
                    </div>
                </div>
                <div class="box">
                    <div class="icon"><i class="fa fa-phone"></i></div>
                    <div class="text">
                        <h3>Phone</h3>
                        <p>+994 (55)818-23-88</p>
                    </div>
                </div>
                <div class="box">
                    <div class="icon"><i class="fa fa-globe"></i></div>
                    <div class="text">
                        <h3>Email</h3>
                        <p>www.tasty.com</p>
                    </div>
                </div>
            </div>
            <div class="contact-form">
                <form>
                    <h2>Send Message</h2>
                    <div class="input-box">
                        <input type="text" name="" required="required" />
                        <span>Full Name</span>
                    </div>
                    <div class="input-box">
                        <input type="text" name="" required="required" />
                        <span>Email</span>
                    </div>
                    <div class="input-box">
                        <textarea required="required"></textarea>
                        <span>Type your message...</span>
                    </div>
                    <div class="input-box">
                        <input type="submit" name="" value="Send">
                    </div>
                </form>
            </div>
         </div>
</section>
