<header>
  <div class="container">
    <img src="assets/img/logo.png" alt="Restaurant logo" />
    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/aboutus">About Us</a></li>
        <li><a routerLink="/recipes">Recipes</a></li>
        <li><a routerLink="/menu">Menu</a></li>
        <li><a routerLink="/photos">Photos</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>
      <!-- <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/story" (click)="menu()">About Us</a></li>
        <li><a routerLink="/recipe" (click)="menu()">Recipes</a></li>
        <li><a routerLink="/menu" (click)="menu()">Menu</a></li>
        <li><a routerLink="/images" (click)="menu()">Photos</a></li>
        <li><a routerLink="/footer1" (click)="menu()">Contact</a></li>
      </ul> -->
    </nav>
    <!--div>
      <h1>Grandrestaurant</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </p>
    </div-->
  </div>
</header>

<router-outlet></router-outlet>

<footer>
  <div id="footer1">
    <div class="container">
      <div>
        <img src="assets/img/logo.png" alt="Restaurant logo" />
        <p class="basic">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
      </div>
      <div>
        <h4>Sitemap</h4>
        <ul>
          <li><a href="">What we do</a></li>
          <li><a href="">Who we are</a></li>
          <li><a href="">Projects</a></li>
        </ul>
      </div>
      <div>
        <h4>Category</h4>
        <ul>
          <li><a href="">Concreting</a></li>
          <li><a href="">Decoration</a></li>
          <li><a href="">Building</a></li>
        </ul>
      </div>
      <div>
        <h4>Menu</h4>
        <ul>
          <li><a href="">About us</a></li>
          <li><a href="">Services</a></li>
          <li><a href="">Projects</a></li>
        </ul>
      </div>
      <div>
        <h4>Contact Us</h4>
        <ul>
          <li><a href=""><i class="fas fa-phone"></i>855-5564-65651</a></li>
          <li><a href=""><i class="fas fa-location-arrow"></i>Adress streets City</a></li>
          <li><a href=""><i class="fas fa-envelope"></i>your.mail@domains.com</a></li>
        </ul>
      </div>
    </div>
  </div>	
  <div id="footer2">
    <div class="container">
      <p id="f2a">Copyrights <a href="">free-psd-templates.com</a></p>
      <p id="f2b">
        <a href="">Support</a>
        <a href="">Contact Us</a>
        <a href="">Disclaimer</a>
        <a href="">Add More</a>
      </p>
      <p id="f2c">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-behance"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-pinterest"></i>
        <i class="fab fa-dribbble"></i>
      </p>
    </div>
  </div>
</footer>